@model IEnumerable<MindBodyDemo.StaffService.Staff>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <h3>Staff's appointment</h3>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            @foreach (var item in Model)
            {
                <li role="presentation">@Html.ActionLink(item.Name, "Appointment", new { id = item.ID })</li>
            }
        </ul>
    </span>
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
            <h3>Staff's info</h3>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
            @foreach (var item in Model)
            {
                <li role="presentation">@Html.ActionLink(item.Name, "Info", new { id = item.ID })</li>
            }
        </ul>
    </span>
    
<table class="table">
    <tr class="info">
        <th>
            Name
        </th>
        <th>
            Mobile Phone
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Info", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table> 
</div>
