@model MindBodyDemo.StaffService.Staff

@{
    ViewBag.Title = "Info";
}
<h2>@Model.Name's Info</h2>

<div class="container">
    <table class="table" width="800">
        <tr class="info">
            <td>
                @if (!String.IsNullOrEmpty(Model.ImageURL))
                {
                    <img src="@Model.ImageURL" alt="imageurl" style="width:85px;height:100px" />
                }
                else
                {
                    <img src="~/Images/noPersonImg.PNG" alt="imageurl" style="width:80px;height:100px" />
                }
            </td>
            <td colspan="5">
                <strong>@Model.Name <br /> </strong>
                @Html.ActionLink("Appointments", "Appointment", new { firstName = Model.FirstName, lastName = Model.LastName, staffId = Model.ID })
            </td>
        </tr>
        <tr>
            <td width="30"><strong>Staff ID</strong></td>
            <td width="100">@Model.ID</td>
            <td width="30"><strong>Address</strong></td>
            <td width="100">@Model.Address</td>
            <td width="30"><strong>SortOrder</strong></td>
            <td width="100">@Model.SortOrder</td>
        </tr>
        <tr>
            <td width="30"><strong>First Name</strong></td>
            <td width="100">@Model.FirstName</td>
            <td width="30"><strong>Address 2</strong></td>
            <td width="100">@Model.Address2</td>
            <td width="30"><strong>Sort Order Specific</strong></td>
            <td width="100">@Model.SortOrderSpecified</td>
        </tr>
        <tr>
            <td width="30"><strong>Last Name</strong></td>
            <td width="100">@Model.LastName</td>
            <td width="30"><strong>City</strong></td>
            <td width="100">@Model.LastName</td>
            <td width="30"><strong>Muti Location</strong></td>
            <td width="100">@Model.MultiLocation</td>
        </tr>
        <tr>
            <td width="30"><strong>First Name</strong></td>
            <td width="100">@Model.FirstName</td>
            <td width="30"><strong>State</strong></td>
            <td width="100">@Model.State</td>
            <td width="30"><strong>Action Specified</strong></td>
            <td width="100">@Model.ActionSpecified</td>
        </tr>
        <tr>
            <td width="30"><strong>Email</strong></td>
            <td width="100">@Model.Email</td>
            <td width="30"><strong>Country</strong></td>
            <td width="100">@Model.Country</td>
            <td width="30"><strong>ID Specified</strong></td>
            <td width="100">@Model.IDSpecified</td>
        </tr>

        <tr>
            <td width="30"><strong>Mobile Phone</strong></td>
            <td width="100">@Model.MobilePhone</td>
            <td width="30"><strong>Postal Code</strong></td>
            <td width="100">@Model.PostalCode</td>
            <td width="30"><strong>is Male</strong></td>
            <td width="100">@Model.isMale</td>
        </tr>
        <tr>
            <td width="30"><strong>Home Phone</strong></td>
            <td width="100">@Model.HomePhone</td>
            <td width="30"><strong>Foreign Zip</strong></td>
            <td width="100">@Model.ForeignZip</td>
            <td width="30"><strong>Error Code</strong></td>
            <td width="100">@Model.ErrorCode</td>
        </tr>
        <tr>
            <td width="30"><strong>Work Phone</strong></td>
            <td width="100">@Model.WorkPhone</td>
            <td width="30"></td>
            <td width="100"></td>
            <td width="30"><strong>Execute</strong></td>
            <td width="100">@Model.Execute</td>
        </tr>
        <tr>
            <td width="30"><strong>Bio</strong></td>
            <td colspan="5">@Model.Bio</td>
        </tr>
    </table>
</div>
